
html, body{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
h1 {
    color: #EEEEEE;  
    font-family: Arial; 
    background-color: #19628A;
    margin-top:-10px;   
}

img{
      width: 180px; float: right; margin-top:-25px; margin-right:190px;
}

.container{
    background-color: #19628A;
    width: 85%;
    border: #19628A;
    padding-left: 50px;
    margin-left: -15px;
    font-size: 20px;
    position: relative;
    margin-top: -10px;
}
 p {
     color: #EEEEEE;
     font-family: Arial;
     line-height: 30px;
 }
.button1 {
    color: white; width: 20%; padding: 5px; border: none;
}

.flex-container > form, table{
    display: inline-flex;
    align-items: flex-end;
    width: 85%;
    
}
form
{
     width: 50%;
    padding: 0px;
    position: relative;
    float: left;
    font-family: Arial;
    padding-left: 40px;
}

input{
    float: left;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
}

h2{    
    color: black; font-family: Arial;
    padding-left: 40px;
}

button{
    background-color: #FD862F; width: 53%; padding: 10px; color: #eeeeee;  font-family: Arial; border: none;
} 

table{
      border-collapse: collapse; 
       width: 50%;
       text-align: center;
       float: right;
       font-family: Arial;
       margin-top: -180px;
       caption-side: top;
       margin-right: -39px;
    }

h3{
    color: black; font-family: Arial;
     margin-top: -20px; 

}

th,td{
    border: 1px  solid #cccccc;
    border-collapse: collapse;
    padding: 8px;
    float:center;
    text-align:center;
    width: 100px;
}

tbody>tr>:nth-child(1){
    width: 30px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 85%;
    background-color: #333333;
    color: #eeeeee;
    text-align: center;
    font-family: Arial;
    padding: 30px;
}